<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.example.first.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>com.example.first.CheckUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/check_user_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyStats</servlet-name>
        <servlet-class>com.example.first.MyStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyStats</servlet-name>
        <url-pattern>/my_stats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessQuiz</servlet-name>
        <servlet-class>com.example.first.ProcessQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessQuiz</servlet-name>
        <url-pattern>/process_quiz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllStats</servlet-name>
        <servlet-class>com.example.first.AllStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllStats</servlet-name>
        <url-pattern>/all_stats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>com.example.first.Users</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>